.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.iconColor{
  color: aliceblue !important;
  cursor: pointer;
}
.logo{
  color: aliceblue !important;
  cursor: pointer;
}
.logoutCls{
  position: relative;
  top:5px;
}

